*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.class
*.jar
.gradle
.DS_Store
.idea
.project
.strong-pm
build
src/main/resources/static/*.*
src/linkme-app/node_modules